env/*
!env/.gitkeep

local/*
!local/.gitkeep

backup/*
!backup/.gitkeep

vhosts/*
!vhosts/.gitkeep

conf.d/*
!conf.d/.gitkeep

backup/*
!backup/.gitkeep
!backup/sql

backup/sql/*
!backup/sql/.gitkeep

vendor 

*.env
*.sql
*.tar.gz
*.zip


